.app {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}
.containercomplit{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    overflow-y: auto;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow-y: auto;
}
.imports{ 
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100vh - 60px);
}
.header{
    display: flex;
    width: calc(100% - 32px);
    height: auto;
    padding: 0px 16px 0px 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); /* Mantém a largura dos cards */
    gap: 2px; /* Espaçamento entre os itens */
    width: 100%; /* Ocupa toda a largura disponível */
    max-height: 80vh; /* Define uma altura máxima para a lista de cards */
    overflow-y: auto; /* Adiciona um scroll vertical se necessário */
    padding-right: 15px; /* Adiciona espaço para barra de rolagem */
  }

@media (max-width: 900px) {

    .app{
        padding-top: 60px;
    }

}