.contgerar{
    display: flex;
    width: 100%;
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    margin: 0;
    padding: 0;
    
}
.container{
    display: flex;
    background-color: rgb(245, 245, 245);
}
.conttop{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100px;
}
.contimg{
    display: flex;
    width: 10%;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.img{
    width: 60px;
}
.titletop{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.conttopinit{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    text-align: center;
}
.tabela{
    display: flex;
    flex-direction: column;
    border: 1px;
    border-color: rgb(88, 88, 88);
    border-style: inset;
    
}
.line{
    display: flex;
    width: auto;
    border: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: rgb(88, 88, 88);
    border-style: inset;
    border-color: rgb(66, 66, 66);
    padding: 4px;
}
.contint{
    display: flex;
    margin-left: 0px;
    margin-right: 16px;
}
